Specify the "delete a cookie" algorithm

This can either reference [RFC 6265 Section 5.3](https://tools.ietf.org/html/rfc6265#section-5.3), _when the user agent "receives a cookie"..._ steps with an expiry time of 0 or it could delegate to the "set a cookie" algorithm. The latter is probably better.


In https://github.com/WICG/cookie-store/pull/81