Specify the "set a cookie" algorithm

This should reference [RFC 6265 Section 5.3](https://tools.ietf.org/html/rfc6265#section-5.3), _when the user agent "receives a cookie"..._ steps.


https://github.com/WICG/cookie-store/pull/81